<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mental Health Prototype, <%= @user.email %></h1>
    <p>
      This message is to let you know that
    </p>
    <p>
      We do not have anymore therapist of this kind in our site,
    </p>
    <p>
      Maybe you would like to add more thearpist of this category to provide service to our community.
    </p>
    <p>
      
    </p>
    <p>Have a great day!</p>
  </body>
</html>