<div class="custom-container">
    <h1>Editing Therapist</h1>
    <%= render 'form', therapist: @therapist %>
    <%= link_to 'Show', @therapist, :class => 'btn btn-lg  btn-login btn-block  text-uppercase font-weight-bold mb-2' %> 
    <%= link_to 'Back', therapists_path, :class => 'btn btn-lg  btn-login btn-block  text-uppercase font-weight-bold mb-2' %>
</div>