<div class="custom-container">
  <div class="row">
    <div class="col-md-9 col-lg-8 mx-auto">
    <h2 class="title mt-5 mb-5 display-3" style="text-align:center">About Us</h2>
      <div class="container-home text-center">
        <p > The Mental Health Project was developed to fight the Mental Health Stigma. I believe that by having access to this professional services our society will fight social issues like this together. We are stronger together. </p>          
      </div>
    </div>
  </div>
</div>