<div class="container pt-5 ">
  
  <div class="text-center ">    
    <p class="mb-2 about_text">Prototype to provide Mental health services for vulnerable communities to fight the stigma, building relationships and providing a way to address sytemic issues in community. </p>
    <hr style="width: 2px; height: 50px; background: lightgrey; border: none;" />
    <div class="container"> 
      <div class="row"> 
      </div>
    </div>
  </div>


  <div class="row text-center text-lg-left four_img">
 
    <div class="col-lg-3 col-md-4 col-6 mx-auto">
        
        <img class="img-fluid pic_landing" src="assets/RandiHildreth.2013.51.jpg" alt="">        
   
    </div>
    <div class="col-lg-3 col-md-4 col-6 mx-auto">      
        <img class="img-fluid pic_landing " src="assets/mask.jpg" alt="">     
    </div>
    <div class="col-lg-3 col-md-4 col-6 mx-auto">
     
        <img class="img-fluid pic_landing" src="assets/VinnieAmendolare.2013.77.jpg" alt="">           
    
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-4 mx-auto">
      
        <img class="img-fluid pic_landing" src="assets/OD2016_WINTER_151130_MilaniLawrence_006.jpg" alt="">           
          
    </div>