/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "font-awesome";

#carouselExampleSlidesOnly.carousel.slide, .jumbo {
  width:  100%;
  margin-top: 15px;
  margin-bottom: 50px;
} 

html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  flex-direction: column;
  font-family: "Montserrat";

}
main {
  padding-top: 40px;
  padding-bottom: 45px;
}
.custom-container {
  margin: 140px auto;
  margin-bottom: 5px;
  min-height: 95vh;
}
#notice_wrapper {
  margin-top: 100px;
  z-index: 999
}

a:link{
  text-decoration: none;
  color: white; 
}

a:visited,
a:hover {
  text-decoration: none;
  color: grayscale($color: darkgray);
}
.button {
  text-decoration: none;
  color: white;  
}
button:hover {
  text-decoration: none;
  color: grayscale($color: darkgray);
}




.user-container {
  position: relative;
  bottom: 0.5em;
  height: 50px;
  width: 50px;
  background-color: #563d7c;
  border-radius: 25px;
}

.user-icon-text {
  position: relative;
  top: 0.5em;
  color: #fff !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
  font-weight: bolder;
}

.search_button {
    
  font-family: "Montserrat";
}
.bg-white{
  border-style: solid;
  border-color: #f0eeed;
}
.bg-light{
  background-color: #f0eeed !important;
}

.btn {

  border-radius: 0% !important;
}

.button_filter {
  color: white !important;
  font-size: 12px !important;
}
.button_filter:hover {
  background-color: white !important;
}

a.btn.callout-button:hover {
  color: #f0f0f0;
}
.tooltip_button {
  border: none;
  color: #563d7c;
  padding: 4.8px;
}
.tooltip_button:hover{
  border: none;
  color: white;
  
}
.dropdowns_inputs {
  margin-right: 0.2em;
  padding: 8px 12px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background-clip: padding-box;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: #563d7c !important;
}

.card-header {
  background-color: #563d7c !important;
  padding: 0.3rem 0.25rem !important;
  border-radius: 0% !important;
}
.four_img {
  padding: 10px !important;
}

table.table a {
  text-decoration: none;
}

.hidden {
  display: none;
}
.my_alert {
  color: #563d7c;
}

.move-down {
  margin-top: 64px;
}

.center {
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: white;
  color: black;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 5px;
  background: white;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #563d7c !important;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: black;
}
.button_filter_hide {
  margin-left: 15px;
  font-family: Montserrat;
  border: none;
}

.tableuser thead tr th {
  vertical-align: middle !important;
}
.tableuser tbody {
  padding: 0.1px;
  text-align: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


@media (max-width: 480px) {  
  .modal-dialog {
    max-width:calc(100% - 80px);
    max-height:calc(100% - 80px);
  }
  .modal-dialog .content {
    overflow:auto;
    max-height:calc(100vh - 125px);
  }
  tr {
    display: block;
  }
  th {
    display: none;
    text-align: center !important;
  }
  .blue_downloads,
  .mobile_document_title,
  .search_icon,
  .download_icon,
  .doc_type, 
  .mobile_trash_delete {
    visibility: visible !important;
    display: block !important;
  }
  .mobile_document_title input {
    text-align: center !important;
  }
  .big_card {
    margin-left: 0% !important;
  }
  .top_session {
    margin-top: -320px;
  }
  .logo_gen img, .logo_end img {    
    width: 100% !important;
    height: auto !important;
  }

  .logo_end img {
    margin-bottom: -17px !important;
  }
  .logo_gen img {
    margin-bottom: -45px !important;
  }
  .navbar {
    width: 100% !important;
    height: auto !important;
  }
  
}

@media (max-width: 992px) {
  .pic_landing {
    padding-bottom: 20px;
    margin-left: 8px;
  }
}

@media (max-width: 767px) {

  .dropdown-menu.show {
    left: 0em !important;
  }
  .triangle {
    left: 0em !important;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color:white;
  height: 65px;
}

.footer a {
  color: #563d7c;
}

.legal-container {
  margin-top: 7em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.navbar {
      display: flex;
      align-items: center;
      padding: .5rem 1rem;
      background-color: #563d7c;
  }

.bd-navbar {
      min-height: 4rem;
      background-color: #563d7c;
  }

a {
  color: #ffffff80;
  font-size: 18px;
 }

a.link {
     text-decoration: none;
     color: #ffffff80;
     font-size: 18px;
   }


 a.dropdown-item {
    color: #ffffff80;
    background-color: #563d7c;
 }

 div.dropdown-menu {
   background-color: #563d7c !important;
   color: #ffffff80;
 }

 a.disabled {
     color: #ffffff80;
     padding: .5rem .5rem;
 }

 a.nav-link.text-nowrap {
     color: #ffffff80;
     padding: .5rem;
 }

 a.nav-link.dropdown-toggle {
     color: #ffffff80;
 }


